<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.microsoft.aad.adal.tests" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <dependency id="cordova-plugin-test-framework" url="https://github.com/apache/cordova-plugin-test-framework.git" />

    <name>ADAL tests suite</name>
    <js-module name="tests" src="www/tests.js" />

</plugin>
